*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* css brand logo dan nama */

.brand span {
    margin-left: 0;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 30px;
    color: #edf0f1;
    text-decoration: none;
    
}

.brand li a button {
    font-family: sans-serif;
    font-weight: 500;
    font-size: 15px;
    color: #edf0f1;
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 5%;
    background-color: white;
}

.brand {
    list-style: none;
}

.brand .foto{
    margin-left: 0px;
}

.brand li {
    display: inline-block;
    padding: 5px;

}

.brand span {
    margin-right: 550px;
    text-shadow: 2px 2px 5px orange;
}

.brand li a {
    color:#14279B;
}
.brand li a:hover {
    color:  #F77E21;
}

.brand input [type-search] {
    border-radius: 15px;
    padding: 10px 10px;
}

.brand button {
    margin-left: 10px;
    padding: 10px 10px;
    background-color: #14279B;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3 ease 0s;
}

.brand button:hover {
    background-color:  #F77E21;
}

/* jumbotron */
.jumbotron {
    height: 520px;
    margin-top: 0px;
    font-family: sans-serif;
    background-image: url(image/home.jpg);
    background-size: 100% 100%;
    background-position-y:-100;
}

.jumbotron:hover {
    background-image: url(image/objek1.jpg);
}

.text-brand {
    text-align: center;
    padding: 70px;
    color: #edf0f1;
}

.text-brand h1 {
    font-size: 80px;
    text-shadow: 1px 1px;
    
}

.text-brand h3 {
    margin-top: 90px;
    font-size: 36px;
    text-align: center;
    text-shadow: 1px 1px;
    font-style: italic;
    color: white;
}

.btn-jelajahi {
    width: 200px;
    height: 50px;
    background-color: #14279B;
    text-align: center;
    padding: 10px;
    display: inline-block;
    margin-top: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-jelajahi:hover {
    background-color: #F77E21;
}
.btn-jelajahi a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    
}

.btn-video {
    width: 200px;
    height: 50px;
    background-color: #14279B;
    text-align: center;
    padding: 10px;
    display: inline-block;
    margin-top: 30px;
    margin-left: 30px;
    border-radius: 20px;
    cursor: pointer;
}

.btn-video:hover {
    background-color: #F77E21;
}

.btn-video a {
    text-decoration: none;
    font-size: 25px;
    color: white;
    
}

/* konten objek wisata */
.objekwisata {
    margin: 5px;
    padding: 10px;
    background-color: white;
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-gap: 20px;
    -moz-column-count: 2;
    column-gap: 20px;
    -moz-column-gap: 20px;
    border: 1px solid #ccc;
}

.objekwisata .gambarobjek {
    width: 100%;
    height: auto;
    border: 5px solid #14279B;
    border-radius: 20px;
}

.gambar .tittle {
    text-align: center;
    font-size: 15px;
}

.objekwisata .isian h1 {
    font-size: 35px;
    text-align: justify;
}

.objekwisata .isian p {
    font-size: 20px;
    text-align: justify;
    padding: 5px;
}

.objekwisata .isian .baca {
    font-size: 20px;
    text-align: justify;
    color: black;
    text-decoration: none;
}

.link-img {
    text-decoration: none;
    font-size: 20px;
    color: #14279B;
    cursor: pointer;
}

.link-img :hover{
    color: #F77E21;
}

/* sarana akomodasi */
.kolom {
    margin: 5px;
    padding: 10px;
    background-color: white;
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-gap: 20px;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    border: 1px solid #ccc;
}

.card {

    box-shadow: 0 4px 8px 0 rgba(0,0,0, 0.2);
    max-width: 450px;
    margin: auto;
    text-align: center;
    font-family: arial;
    background: #FFFFFF;

    border-radius: 20px;
}

.price {
    color:#14279B;
    font-size: 22px;
}

.card button {
    box-sizing: border-box;
    border-radius: 20px;
    border: none;
    outline: 0;
    padding: 5px;
    color: white;
    background-color: #14279B;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    background-color: #F77E21;
}

/* kontak pesan */

.kontak-pesan {
    margin: 5px;
    padding: 10px;
    background-color: white;
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-gap: 20px;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    border: 1px solid white;
}

.form {
    box-sizing: border-box;
    border-radius: 20px;
    position: center;
    margin: 10px;
    padding: 40px;
    background-color:#14279B;
    width: 600px;
    height: 400px;
}

.form .nama .email .hari .pesan .tombol {
    width: 100%;
    height: 40px;
    padding-top: px;
    margin-top: 10px;
}

.form .tombol {
    border-radius: 10px;
    padding: 1px 10px 10px;
    text-align: center;
    text-decoration-style: bold;
    background-color: white;
}

.form .kirim {
    border-radius: 10px;
    padding: 1px 10px 10px;
    text-align: center;
    text-decoration-style: bold;
    background-color: white;
    cursor: pointer;
}

.form h3 {
    text-align: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
}

.form .pesan {
    height: 60px;
}


/* footer */
footer {
    margin: 0px;
    padding: 10px;
    background-color: #14279B;
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-gap: 40px;
    -moz-column-gap: 40px;
    -webkit-column-gap: 40px;
    border: 1px solid #ccc;
}

footer p {
    text-align: justify;
    font-size: 15px;
    color: white;
}

footer ul li {
    text-decoration: none;
    list-style: none;
}